.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #00008b, #f0f8ff);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.logo {
  margin-left: 1rem;
}

.menu {
  display: flex;
  list-style: none;
  margin-right: 1rem;
}

.item {
  margin-left: 1rem;
}

.link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.link:hover {
  color: yellow;
}

.link i {
  margin-right: 0.5rem;
}
